
/* table {
  width: 100%;
} */



.mat-mdc-form-field {
  font-size: 14px;
  flex-grow: 1;
}

.demo-button-container{
  flex-grow: 1;
}

.demo-button-container button{
  margin-top: 15px;
  margin-bottom: 15px;
  margin-left: 10px;
  position: relative;
}


.navar{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

