<h1 mat-dialog-title> {{ titulo }} <h1>
<div mat-dialog-content>
  <mat-spinner *ngIf="!datosElemento; else detalles "></mat-spinner>

  <ng-template #detalles >
    <mat-label>{{ datosElemento.nombre_cientifico | titlecase }}</mat-label>
    <section class="flex-detalle">
    <img [src]=" datosElemento.imagen | imagen  " alt="">

    <div class="contenido_detalles">
        <h1><span> Nombre cientifico: </span> {{ datosElemento.nombre_cientifico }} </h1>
        <h1><span> Nombre: </span>{{ datosElemento.nombre_registrado }} </h1>

        <h2><span> Fecha caducidad: </span>{{ datosElemento.fecha_caducida | date  }} </h2>
        <h2><span> Codigo: </span>{{ datosElemento.codigo | uppercase }} </h2>
        <h2><span> Cantidad: </span>{{ datosElemento.cantidad  }} </h2>
        <h2><span> Precio: </span>{{ datosElemento.precio }} </h2>

    </div>
    <div class="contenido_detalles">
        <h1><span>Creado por: </span> {{ nombreCompleto | titlecase }}   </h1>
        <h1><span>Tipo: </span>{{ datosElemento.Tipo_medicamento.tipo  | titlecase }} </h1>

    </div>

  </section>

  </ng-template>
</div>
<div  mat-dialog-actions>
    <button mat-raised-button mat-dialog-close
          color="warn"
        (click)="cancelar()">Cancelar</button>
</div>
